<%- include('../partials/adminHeader', { title: 'mini upwork' }) %>

<div id="wrapper">

    <%- include('../partials/adminSidebar') %>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- FIXED: pass user properly -->
            <%- include('../partials/adminNavbar', {user:admin}) %>

            <div class="container-fluid">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                        <div class="container mt-4">
<div class="row">

<div class="col-md-3">
  <div class="card text-white bg-primary mb-3">
    <div class="card-body">
      <h5>Total Students</h5>
      <h3><%= stats.totalStudents %></h3>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5>Total Teachers</h5>
      <h3><%= stats.totalTeachers %></h3>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h5>Total Courses</h5>
      <h3><%= stats.totalCourses %></h3>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="card text-white bg-danger mb-3">
    <div class="card-body">
      <h5>Enrollments</h5>
      <h3><%= stats.totalEnrollments %></h3>
    </div>
  </div>
</div>

</div>
</div>

            </div>

        </div>

        <%- include('../partials/adminFooter') %>
    </div>

</div>
