<%- include('../../partials/adminHeader', { title: "Edit Course" }) %>

<div id="wrapper">
  <%- include('../../partials/adminSidebar') %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <%- include('../../partials/adminNavbar', { user: admin }) %>

      <div class="container mt-4">
        <h3>Edit Course</h3>
          <form action="/admin/courses/update/<%= course._id %>" method="POST" enctype="multipart/form-data">

          <input class="form-control mb-2" name="title" value="<%= course.title %>">

          <textarea
  name="shortDescription"
  maxlength="300"
  class="form-control"
  placeholder="Max 300 characters"></textarea>

<small class="text-muted">
  Maximum 300 characters
</small>

          <textarea class="form-control mb-2" name="longDescription"><%= course.longDescription %></textarea>

          <select name="teacher" class="form-control mb-2">
            <% teachers.forEach(t => { %>
              <option value="<%= t._id %>" <%= course.teacher.equals(t._id) ? "selected" : "" %>>
                <%= t.firstName %>
              </option>
            <% }) %>
          </select>

          <input type="file" name="thumbnail" class="form-control mb-2">

          <input class="form-control mb-2" name="category" value="<%= course.category %>">

          <select name="level" class="form-control mb-2">
            <option <%= course.level==="Beginner"?"selected":"" %>>Beginner</option>
            <option <%= course.level==="Intermediate"?"selected":"" %>>Intermediate</option>
            <option <%= course.level==="Advanced"?"selected":"" %>>Advanced</option>
          </select>

          <input class="form-control mb-2" name="tags" value="<%= course.tags.join(',') %>">

          <input class="form-control mb-2" name="price" value="<%= course.price %>">

          <div class="form-check mb-3">
            <input type="checkbox" name="isPublished" class="form-check-input"<%= course.isPublished ? "checked" : "" %>>
            <label class="form-check-label">Published</label>
          </div>

          <button class="btn btn-primary">Update</button>
        </form>
        
      </div>

    </div>
    <%- include('../../partials/adminFooter') %>
  </div>
</div>
