<%- include('../../partials/adminHeader', { title: "Courses" }) %>

<div id="wrapper">
<%- include('../../partials/adminSidebar') %>

<div id="content-wrapper" class="d-flex flex-column">
<div id="content">

<%- include('../../partials/adminNavbar', { user: admin }) %>

<div class="container mt-4">

<div class="d-flex justify-content-between mb-3">
  <h3>Courses</h3>
  <a href="/admin/courses/create" class="btn btn-primary btn-sm">Add Course</a>
</div>

  <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Teacher</th>
              <th>Price</th>
              <th>Level</th>
              <th>Published</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% courses.forEach(c => { %>
              <tr>
                <td><%= c.title %></td>
                <td><%= c.teacher?.firstName %></td>
                <td>
                  <%= c.isFree ? "Free" : "₹" + c.price %>
                </td>
                <td><%= c.level %></td>
                <td>
                  <%= c.isPublished ? "Yes" : "No" %>
                </td>
                <td>
                  <a href="/admin/courses/edit/<%= c._id %>" class="btn btn-sm btn-warning">Edit</a>
                  <a href="/admin/courses/delete/<%= c._id %>" class="btn btn-sm btn-danger"
                     onclick="return confirm('Delete course?')">Delete</a>
                  <a href="/admin/courses/<%= c._id %>/lessons" class="btn btn-sm btn-info"> Lessons</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>

</div>
</div>

<%- include('../../partials/adminFooter') %>
</div>
</div>
