<%- include('../../partials/adminHeader', { title: "Courses" }) %>

<div id="wrapper">
<%- include('../../partials/adminSidebar') %>

<div id="content-wrapper" class="d-flex flex-column">
<div id="content">

<%- include('../../partials/adminNavbar', { user: admin }) %>

<div class="container mt-4">

<div class="d-flex justify-content-between mb-3">
  <h3>Courses</h3>
  <a href="/admin/courses/create" class="btn btn-primary btn-sm">Add Course</a>
</div>

<table class="table table-bordered">
<thead>
<tr>
  <th>Thumbnail</th>
  <th>Title</th>
  <th>Teacher</th>
  <th>Price</th>
  <th>Action</th>
</tr>
</thead>

<tbody>
<% courses.forEach(c => { %>
<tr>
  <td>
    <img src="<%= c.thumbnail %>" width="80">
    <video width="160" height="90" controls>
  <source src="<%= c.thumbnail %>" type="video/mp4">
</video>
   </td>
  <td><%= c.title %></td>
  <td><%= c.teacher?.firstName %></td>
  <td>₹<%= c.price || 0 %></td>
  <td>
    <a class="btn btn-sm btn-info" href="/admin/lessons/<%= c._id %>">Lessons</a>
    <a class="btn btn-sm btn-warning" href="/admin/courses/edit/<%= c._id %>">Edit</a>
    <a class="btn btn-sm btn-danger" href="/admin/courses/delete/<%= c._id %>"
       onclick="return confirm('Delete course?')">Delete</a>
  </td>
</tr>
<% }) %>
</tbody>
</table>

</div>
</div>

<%- include('../../partials/adminFooter') %>
</div>
</div>
