<%- include('../../partials/adminHeader', { title: "Add Course" }) %>

<div id="wrapper">
<%- include('../../partials/adminSidebar') %>

<div id="content-wrapper" class="d-flex flex-column">
<div id="content">

<%- include('../../partials/adminNavbar', { user: admin }) %>

<div class="container mt-4">
<h2>Trusted By Logos</h2>

<form action="/admin/about/trustedby/add" method="POST">
  <input type="text" class="form-control mb-2" name="logo" placeholder="Image URL" required>
  <button class="btn btn-primary" type="submit">Add</button>
</form>

<hr/>

<% if (about && about.trustedBy.length) { %>
  <% about.trustedBy.forEach((logo, index) => { %>
    <div>
      <img src="<%= logo %>" width="100">

      <form action="/admin/about/trustedby/delete/<%= index %>" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </div>
  <% }) %>
<% } %>
</div>
</div>

<%- include('../../partials/adminFooter') %>
</div>
</div>
